@tailwind base;
@tailwind components;
@tailwind utilities;

footer {
  margin-top: auto;
}

.desc-para {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
